@yellow: #fffa19;
@red: #f04b4b;
@green: #54f845;


.margenes (@top, @bottom) {
    margin-top: @top;
    margin-bottom: @bottom;
}


.margenes-full (@top, @bottom, @left, @right) {
    margin-top: @top;
    margin-bottom: @bottom;
    padding-left: @left;
    padding-right: @right;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px,0px);   
}
  
  .jumbotron-img {
    color: black;
    .margenes(50px,0px);  
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
    height: 100%; }
  
  .footer {
    padding: 10px, 10px, 0, 10px;
    background-color: @green;
    .margenes(10px,0px);  
    padding-left: 10px;
    padding-right: 10px; }
  
  .card-hotel {
    flex: 1 200px;
    padding: 2px 0px 0px 0px;
    .margenes(10px,0px);  
    .margenes-full(10px, 0px, 5px, 5px);
}
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  address {
    margin-bottom: 0;
    padding-bottom: 0; }
  
  address p {
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 2px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .tab-content {
    margin-top: 10px; }
  
  .carousel .item {
    height: 300px; }
  
  .item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px; }
  